<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Title</title>

</head>

<body>
  <div id="nav">
    <hr>
    <h3 class="is-size-2">
      <div to="/">Snippets directory</div>
    </h3>
    <hr><br>
    <br>
  </div>
  <div id="app">
    <template>
      <div v-for="(item,index) in items" :key="index">
        <div class="container">
          <div class="notification">
            <a class="is-size-3" :href=items[index].link target="_blank" >{{ item.title }}</a>
          </div>
          <hr>
        </div>
      </div>
    </template>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>

    var application = new Vue({
      el: app,
      created() {

      },
      data() {
        return {
          items: [
            {title:"How to v-mdoel for array of objects",link:"https://allsumit.bitbucket.io/snippets/1/" },
          ]
        };
      },
      methods: {

      },
      computed: {

      },

    })
  </script>
</body>

</html>