<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Title</title>

</head>

<body>
  <div id="nav">
    <hr>
    <h3 class="is-size-2">
      <div to="/">Regex practice</div>
    </h3>
    <hr>
    <br>
  </div>
  <div id="app">
    <template>
      <div class="container">
        <div class="container">
          <div class="notification is-size-3">
            Enter a regex <br> <input class="is-size-3" v-model="myRegex1" type="text">
          </div>
        </div>
        <div class="container">
          <div class="notification is-size-3">
            Enter a string to test <br> <input class="is-size-3" v-model="myString1" type="text">
          </div>
        </div>
        <hr>
        Note: results method is triggered when input string is changed
        <div class="container">
          <div class="notification is-size-3">
            <span> {{resultFlag}} </span>
          </div>
        </div>
      </div>
    </template>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>

    var application = new Vue({
      el: app,
      created() {

      },
      data() {
        return {
          myRegex1: "",
          myString1: "",
          resultFlag: false
        };
      },
      methods: {
        onChange() {
          var flags = this.myRegex1.replace(/.*\/([gimy]*)$/, '$1');
          var pattern = this.myRegex1.replace(new RegExp('^/(.*?)/' + flags + '$'), '$1');
          var regex = new RegExp(pattern, flags);
          if ((this.myRegex1).length < 1) {
            this.resultFlag = false
          } else {
            this.resultFlag = regex.test(this.myString1)
          }
        }
      },
      computed: {

      },
      watch: {
        myString1: function () {
          this.onChange();
        }
      },

    })
  </script>
</body>

</html>