<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Title</title>

</head>

<body>
  <div id="nav">
    <h3 class="is-size-2">
      <router-link to="/">Passes</router-link>
    </h3>
    <br><br><br><br>
  </div>
  <div id="app" class="mt-2">
    <template>
      <div v-for="item in passArr" class="container mt-4">
        <span class="notification" v-for="(value, name) in item"> {{ name }} : {{ value }}</span>
     <br><br>
      </div>
    </template>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>

    var application = new Vue({
      el: app,
      created() {

      },
      data() {
        return {
          passArr: [
          {yandex:"xE4pJlR1eb"},
          ]
        };
      },
      methods: {

      },
      computed: {

      },

    })
  </script>
</body>

</html>