<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Title</title>

</head>

<body>
  <div id="nav">
    <h3 class="is-size-2">
      <router-link to="/">Times Tables (13+)</router-link>
    </h3>
    <br>
  </div>
  <div id="app" class="">
    <template>
      <div class="container">
        <span v-for="(item,index) in items" :key="index">
          <b-button @click.prevent="showView(item)" class="has-background-link-dark has-text-primary-light" >{{ item }} </b-button>
        </span>
      </div>
      <hr>
      <div class="container" v-if="viewOn">
        <div v-for="(item,index) in numTwelve" :key="index">
          <b-button @click.prevent="showTables(item,index)">{{currChoice}} x {{index+2}} = </b-button>
          <b-button v-if="viewArray[index]" > {{ answer}} </b-button>
          <b-button v-else="viewArray[index]" > ? </b-button>
        </div>
      </div>
    </template>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>

    var application = new Vue({
      el: app,
      created() {
        for (let x = 13; x < 20; x++) {
          this.items.push(x)
        }
        for (let x = 2; x < 13; x++) {
          this.numTwelve.push(x)
        }
        this.initViewArray()
      },
      data() {
        return {
          items: [],
          viewArray: [],
          currChoice: 0,
          numTwelve: [],
          answer: 0,
          viewOn: false
        };
      },
      methods: {
        initViewArray() {
          this.viewArray = []
          for (let x = 2; x < 13; x++) {
            this.viewArray.push(false)
          }
        },
        showView(i) {
          this.initViewArray()
          this.currChoice = i
          this.viewOn = true
        },
        showTables(a, b) {
          this.selectedIndex = b
          this.answer = this.currChoice * (b + 2)
          this.initViewArray()
          this.viewArray[this.selectedIndex] = true
        }
      },
      computed: {

      },

    })
  </script>
</body>

</html>