<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Title</title>

</head>

<body>
  <div id="nav">
    <hr>
    <h3 class="is-size-2">
      <div to="/">How to v-mdoel for array of objects</div>
    </h3>
    <hr><br>
    <br>
  </div>
  <div id="app">
    <template>
        <div v-for="(item,index) in items" :key="index">
          <div class="container">
            <span class="notification">
              <input class="is-size-4" v-model="item.username" type="text">
            </span>
            <span class="notification">
              <input class="is-size-4" v-model="item.password" type="text">
            </span>
            <hr>
          </div>
        </div>
        <div class="container">
          <div class="notification">
            <a :href=gist target="_blank" >Click to see the code snippet for this page</a>
          </div>
        </div>
    </template>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>

    var application = new Vue({
      el: app,
      created() {

      },
      data() {
        return {
          items:[
          {username:"Vonny",password:"somepass1"},{username:"Jacenta",password:"somepass2"},{username:"Hyacinthe",password:"somepass1"},{username:"Ketti",password:"somepass2"},{username:"Amii",password:"somepass1"},{username:"Silvana",password:"somepass2"}
          ],
          gist:"https://gist.githubusercontent.com/signonesumitcyou/6e2a015d3f935f008abc402320a4805e/raw/2a6891598311ec2e96aeea1c0aaa67358472a49d/v-model%2520array%2520of%2520objects.txt"
        };
      },
      methods: {

      },
      computed: {

      },

    })
  </script>
</body>

</html>