<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Title</title>

</head>

<body>
  <div id="nav">
    <h3 class="is-size-2">
      <hr>
      <div to="/">split login creds</div>
      <hr>
      <br>
    </h3>
    <br>
  </div>
  <div id="app">
    <template>
      <div class="container">
        <div class="notification">
          <input class="is-size-3" v-model="abc" type="text">
          <button class="is-size-3" @click.prevent="parseIt">Parse it</button>
        </div>
        <br><hr><br>
        <div class="notification is-size-3" v-if="password" >
          {{ username }}
        </div>
        <div class="notification is-size-3" v-if="password" >
          {{ password }}
        </div>
      </div>
    </template>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>

    var application = new Vue({
      el: app,
      created() {

      },
      data() {
        return {
          abc: "",
          username:"",
          password:""
        };
      },
      methods: {
        parseIt() {
          let inputString,res
          inputString = this.abc
          res = inputString.split(":")
          this.username=res[0]
          this.password=res[1]
        }
      },
      computed: {

      },

    })
  </script>
</body>

</html>